/* Increase content width */
// .custom-flex {
//   width: 100% !important;
//   max-width: 100% !important;
// }
.page {
  width: 100% !important;
}

.page__inner-wrap {
  width: 100% !important;
  max-width: none !important;
}

.page__content {
  width: 100% !important;
  max-width: none !important;
}

.custom-flex {
  width: 100% !important;
}
